body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background: url(./backgound.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    transition: background 1s ease-in-out;
}

h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; /* כותרת באותיות גדולות */
    
    /* רקע עם גרדיאנט צבעוני */
    background: linear-gradient(45deg, #ffcc00, #ff6600, #ff0000, #ff6600, #ffcc00);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    /* הוספת אפקט תנועה לגרדיאנט */
    animation: gradientMove 5s infinite linear;

    /* הוספת צל זוהר */
    text-shadow: 0px 0px 10px rgba(255, 140, 0, 0.8), 0px 0px 20px rgba(255, 69, 0, 0.7);
}

/* אנימציה לגרדיאנט */
@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 0 20px;
    border-radius: 30px;
    text-align: center;
    width: 300px;
    color: white;
}

.login-container > #loginForm > *{
    padding: 8px 4px;
    margin: 12px;
}

.login-container > #loginForm > input {
    width: 88%;
    border: none;
    border-radius: 5px;
}

.login-container > #loginForm > button{
    width: 88%;
    margin-bottom: 24px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 12px;
}

button:hover {
    background: #45a049;
}
.container {
    background: rgba(0, 0, 0, 0.7); /* רקע שחור שקוף */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white; /* הפיכת צבע הטקסט ללבן */
    width: 400px;
    margin: auto;
}
a {
    color: lightskyblue;
    display: block;
    text-align: center;
    margin-bottom :20px;
    margin-top: 20px;

}